.hero {
  margin: 7rem 3em;
}

  .hero .arrow-links {
    justify-content:left;
    margin-top: 1.65em;
  }

  .resume-link {
    margin-left: 3em;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 3rem;
  }

  .diy-model-space {
    max-width: 100%;
    height: auto;
  }

  h5 {
    margin-bottom: 0;
  }

  .remove-margin {
    margin-top: 0.5rem;
  }