/* hero */
.hero {
  margin: 7rem 3em;
}
.hero-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1.05fr 1fr;
    column-gap: 2rem;
}

.introduction p{
  margin: 0;
}

.welcome-passage {
  margin-bottom: 1.5rem;
}

.welcome-passage h1,
.welcome-passage p {
    display: inline;
}

.welcome-passage h1 {
    padding-right: 1rem;
}

.welcome-passage p {
  font-weight: 250;
}

.bold-font {
  color: #212121;
  font-family: Calistoga;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dot-bold {
  font-weight: 400;
}

/* Featured Work Section */
#featured-work {
  margin-bottom: 7rem;
}

.w3-button.w3-red {
  background: #212121;
  color: #FFFDF6;
}

.w3-button {
  width: 8.55rem;
  height: 2.5rem;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1.15rem;
  border: 1px solid #212121;
  background-color: #FFFDF6;
  margin-right: 0.75em;
}

.w3-bar {
  margin-bottom: 1.25em;
  margin-left: 3em;
}

.project-type-heading {
  padding-bottom: 0.5rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 0 3em;
}

.project-card {
  border-radius: 0.8125rem;
  border: 1px solid #212121;
  overflow: hidden;
}

.project-card img {
  max-width: 100%;
  object-fit: contain;
  margin:auto;
  border-radius: 0.8125rem 0.8125rem 0rem 0rem;
  transition: all 0.45s ease;
}

.project-card img:hover,
.project-card img:focus {
opacity: 0.6;
transform: scale(1.05);
}

.project-card .upcoming-image img:hover,
.project-card .upcoming-image img:focus {
opacity: 1;
transform: scale(1);
}

.project-card .coming-text {
margin-left: 2rem;
}

.project-card .title h4 {
margin-left: 2rem;
margin-bottom: 0;
margin-top: 1.25em;
}

.project-card .description p {
margin-left: 2rem;  
margin-top: 0.5rem;
margin-bottom: 0.5rem;
color: #586165;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.description {
  display: grid;
    width: 100%;
    grid-template-columns: 1.05fr 1fr;
    column-gap: 2rem;
    padding-bottom: 1.5em;
}

.project-card a {
  color: #1A2429;
  text-decoration: none;
}

/* Responsive */
