.content-before-cover,
.content-after-cover {
    margin: 0 12em;
}

.side-menu a {
  color: grey;
  text-decoration: none; /* optional: removes underline */
  transition: color weight 0.3s ease; /* smooth transition */
}

video::-webkit-media-controls-timeline {display: none;}

.project-content h2{
    margin-top: 5rem;
    margin-bottom: 0;
}

.project-description .project-types p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #586165;
}

.short-description{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

.project-cover-img img {
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.img-caption p{
  text-align: center;
  font-size: 0.95rem;
  margin: 0.25rem 0;
  color: rgb(112, 112, 112);
}

.project-cover-img {
  margin: 1.5rem 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #212121;
  padding: 0;
}

/* project details */
.project-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.project-section img {
  max-width: 100%;
  max-height: 100%;
}

.brief-project-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.brief-project-info ul{
    list-style: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.35rem;
    margin-top: 0.5rem;
}

.brief-project-info h4{
    margin-bottom: 0.5rem;
}

/* .content-after-cover {
  display: grid;
  column-gap: 6rem;
  grid-template-columns: 0.2fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
} */

.side-bar {
  position: sticky;
  top: 7rem; /* adjust based on how far from top you want it to stick */
  align-self: flex-start; /* ensures it doesn't stretch weirdly */
  height: fit-content; /* avoids taking full height */
}

.side-bar ul{
  margin: 0;
  /* margin-top: 2rem; */
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.side-menu a {
  text-decoration: none;
  font-size: 0.95rem;
  line-height: 1.9rem;
}

.side-bar h5 {
  margin-bottom: 0.5rem;
  margin-top: 1.95rem;
}

.anchor-target {
  scroll-margin-top: 112px;
}

/*urbanee*/
.website-preview img{
  width: 100%;
}

.website-preview a {
  font-size: 1.10rem;
  /* font-weight: bold; */
  color: #FBE144;
  background-color: #F54C2B;
  border: 1px solid #F54C2B;
  margin-top: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

.website-preview a:hover,
.website-preview a:focus {
  color: #1A2429;
  background-color: #e3e0d7;
  border: 1px solid #1A2429;
}

.typeface-grid {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  column-gap: 6rem;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.typeface-preview {
  display: flex;
  justify-content: center;
}

.design-concept h4 {
  margin-bottom: 0;
  font-size: 1.20rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder;
}

.design-concept p {
  margin-top: 0.25rem;
}

.urbanee-logo-color-palette {
  display: grid;
  grid-template-columns: 1fr 2.64fr;
}

/*Bandsintown*/
.text-img-2columns.bandsintown-ver {
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  column-gap: 2rem;
  margin-bottom: 5rem;
  margin-top: auto;
}

.text-img-2columns.bandsintown-prototype {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  column-gap: 2rem;
  margin-bottom: 5rem;
}

.text-img-2columns img{
  box-shadow: none;
}

.final-intervention img{
  width: 100%;
}

.final-intervention a {
  font-size: 1.10rem;
  /* font-weight: bold; */
  color: white;
  background-color: #EC004A;
  border: 1px solid #EC004A;
  margin-top: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

.final-intervention a:hover,
.final-intervention a:focus {
  color: black;
  background-color: white;
  border: 1px solid #EC004A;
}

.footer-line {
  margin-top: 4rem;
}

/* Responsive */

@media all and (max-width: 78.75rem) {
  .content-before-cover, 
  .content-after-cover {
    margin: 0 9rem;
  }
}

@media all and (max-width: 68.4375rem) {
  .content-before-cover, 
  .content-after-cover {
    margin: 0 5rem;
  }
}

@media all and (max-width: 53.75rem) {
  .brief-project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 40.625rem) {
  .content-before-cover, 
  .content-after-cover {
    margin: 0 4rem;
  }

  .urbanee-logo-color-palette {
    grid-template-columns: 1fr;
  }

  .urbanee-logo {
    width: 100%;
  }

  .typeface-grid {
    grid-template-columns: 1fr;
  }

  .typeface-grid {
    row-gap: 1rem;
  }
}

@media all and (max-width: 37.5rem) {
  .content-before-cover, 
  .content-after-cover {
    margin: 0 3rem;
  }
}

@media all and (max-width: 34.375rem) {
  .content-before-cover, 
  .content-after-cover {
    margin: 0 2rem;
  }
}

@media all and (max-width: 26rem) {
  .brief-project-info {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 44.375rem) {
  .color-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .poster-sketch-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
}

@media all and (max-width: 32.5rem) {
  .poster-iteration {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    margin: 0 1.5rem;
  }
}